.social {
  display: flex;
  margin: auto auto 1rem;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $color-light;
    transition: background 0.15s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }

    &:not(:first-child) {
      margin-left: 0.8rem;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: $color-light;
  }
}
