#linpark-404 {
  .error-404-section {
    .section-content-wrapper {
      --py: 4rem;
    }

    &__text {
      margin-bottom: 2rem;
      font-size: 2rem;

      @media only screen and (min-width: 768px) {
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
      }
    }

    &__button {
      display: block;
      width: max-content;
      margin: 0 auto;

      @media only screen and (min-width: 768px) {
        margin: 0;
      }
    }
  }
}
